<footer>
    <div class="main">
        <div class="content footer-links">
            <div class="footer-company">
                <h4>Sobre nós</h4>

            </div>

            <div class="footer-social">
                <h4>Redes sociais</h4>
                <div class="social-icons">
                    <img src="images/instagram.png" alt="Instagram" />
                    <img src="images/facebook.png" alt="Facebook" />
                </div>
            </div>
            <div class="footer-contact">
                <h4>Contact </h4>
                <h6>+55 11 988776655</h6>
                <h6>wendytaylor.com.br</h6>
                <h6>Nome da Rua, são paulo - SP</h6>
            </div>
        </div>
    </div>
    <div class="last">wendytaylor 2022 - São paulo -Brasil</div>
</footer>