<header>

    <div class="content">
        <nav>
            <img class="logo" src="./images/logo.png" alt="logo">
            <p id="text1" class="brand">Wendy<strong>Taylor</strong></p>
            <ul>
                <li><a href="#sobre">Sobre nós</a></li>
                <li><a href="#joias">Joias</a></li>
                <li><a href="#bijouteria">Bijouteria</a></li>
                <button>Login</button>
                <button>Cadastro</button>
            </ul>
        </nav>
    </div>
</header>