<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seu carrinho</title>
    <link rel="stylesheet" href="./CSS/headerfooter.css"/>
    <link rel="stylesheet" href="./CSS/carrinho.css">
</head>

<body>
    <header>
        <div class="content">
            <nav>
                <img class="logo" src="./images/logo.png" alt="logo">
                <p id="text1" class="brand">Wendy<strong>Taylor</strong></p>
                <ul>
                    <li><a href="#sobre">Sobre nós</a></li>
                    <li><a href="#joias">Joias</a></li>
                    <li><a href="#bijouteria">Bijouteria</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="conteudo">

        <div class="cep">

            <img src="/images/cep.png" alt="Icon CEP" class="icon-cep">
            <p class="text-cep">Selecione o Endereço</p>

        </div>

        <div class="product">

            <img src="/images/store.png" alt="Icon Store" class="icon-store">
            <p class="text-store">Produto e Frete</p>

        </div>

        <div class="shipping">

            <img src="/images/paper.png" alt="Icon shipping" class="icon-shipping">
            <p class="text-shipping">Resumo</p>

            <div class="calculo">
                
                <div class="line">

                    <p>Valor dos produtos:</p>
                    <p>R$ xxx.xx</p>

                </div>
                
                <p>Frete:</p>
                <p>R$ xxx.xx</p>
                <p>Total:</p>
                <p>R$ xxx.xx</p>

            </div>

            <input type="button" value="Pagar" class="b-pay">
            <input type="button" value="Continuar comprando" class="b-continue">

        </div>

    </div>



    <footer>
        <div class="main">
            <div class="content footer-links">
                <div class="footer-company">
                    <h4>Sobre nós</h4>

                </div>

                <div class="footer-social">
                    <h4>Redes sociais</h4>
                    <div class="social-icons">
                        <img src="images/instagram.png" alt="Instagram" />
                        <img src="images/facebook.png" alt="Facebook" />
                    </div>
                </div>
                <div class="footer-contact">
                    <h4>Contact </h4>
                    <h6>+55 11 988776655</h6>
                    <h6>wendytaylor.com.br</h6>
                    <h6>Nome da Rua, são paulo - SP</h6>
                </div>
            </div>
        </div>
        <div class="last">wendytaylor 2022 - São paulo -Brasil</div>
    </footer>

    <div class="pop" id="popup">
        
        <div class="conteudopop">

            <button class="exit">x</button>
            <h2 class="title-pop">Wendy<strong>Taylor</strong></h2>
            <p class="text-pop">Olá, esta página ainda esta em processo de edição, mas seja bem vindo para ver o processo de criação do <strong>seu</strong> futuro carrinho!</p>

        </div>

    </div>


</body>

</html>