<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wendy</title>
    <link rel="stylesheet" href="stylesheets/headerfooter.css">
    <link rel="stylesheet" href="stylesheets/home.css" />
</head>

<body>
    <header>

        <div class="content">
            <nav class="nav-bar">
                <img class="logo" src="./images/logo.png" alt="logo">



                <nav id="nav">
                    <button id="btn-mobile"><img src="images/menu-icon.png" alt="Icon menu" class="menu-icon"></button>
                    <ul id="menu" class="links">

                        <li class="sobre"><a href="#sobreNos.ejs">Sobre nós</a></li>
                        <li class="sobre"><a href="#joias">Joias</a></li>
                        <li class="sobre"><a href="#bijouteria">Bijouteria</a></li>
                        <button class="btn-login">Login</button>
                        <button class="btn-cadastro">Cadastro</button>

                    </ul>
                </nav>




                <!--<div class="header-block">

                <div>
                    <img class='img01' src="./images/header.png" width="80%" alt="img1">
                </div>
                 </div>  -->
        </div>
        </div>

    </header>

    <section class="catalog" id="catalog">
        <div class="content">
            <div class="title-wrapper-catalog">

                <h3>Navegue por Categoria</h3>
            </div>
            <div class="filter-card">
                <input type="text" class="search-input" placeholder="Pesquisa" />
                <button class="search-button">Pesquisa</button>
            </div>
            <div class="card-wrapper">
                <div class="card-item">
                    <img src="images/joias2.png" alt="joia" />
                    <div class="card-content">
                        <h3>Pulseiras</h3>
                        <p>
                            As melhores coleções de Pulseiras do mercado!
                        </p>
                        <button type="button">Saiba mais</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="images/joias2.png" alt="joia" />
                    <div class="card-content">
                        <h3>Brincos</h3>
                        <p>
                            brincos em ouro amarelo, branco, pedras preciosas você encontra na wendy taylor.
                        </p>
                        <button type="button">Saiba mais</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="images/joias2.png" alt="joia" />
                    <div class="card-content">
                        <h3>Pingentes</h3>
                        <p>
                            Nossos Designers Podem Desenhar a Joia Original que Você Sempre Sonhou.
                        </p>
                        <button type="button">Saiba mais</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="images/joias2.png" alt="joia" />
                    <div class="card-content">
                        <h3>Anéis</h3>
                        <p>
                            Encontre os mais diversos tipos de Anéis.
                        </p>
                        <button type="button">Saiba mais</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="images/joias2.png" alt="joia" />
                    <div class="card-content">
                        <h3>Alianças</h3>
                        <p>
                            Aliança perfeita para você e seu par celebrarem esse compromisso juntos.
                        </p>
                        <button type="button">Saiba mais</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="images/joias2.png" alt="joia" />
                    <div class="card-content">
                        <h3>Relógio</h3>
                        <p>
                            Relógios Que Seguem as Tendências da Moda e Fazem a Diferença no Seu Visual.
                        </p>
                        <button type="button">Saiba mais</button>
                    </div>
                </div>

            </div>
    </section>





    <footer>
        <div class="main">
            <div class="content footer-links">
                <div class="footer-company">
                    <h4>Sobre nós</h4>

                </div>

                <div class="footer-social">
                    <h4>Redes sociais</h4>
                    <div class="social-icons">
                        <img src="images/instagram.png" alt="Instagram" />
                        <img src="images/facebook.png" alt="Facebook" />
                    </div>
                </div>
                <div class="footer-contact">
                    <h4>Contact </h4>
                    <h6>+55 11 988776655</h6>
                    <h6>wendytaylor.com.br</h6>
                    <h6>Nome da Rua, são paulo - SP</h6>
                </div>
            </div>
        </div>
        <div class="last">wendytaylor 2022 - São paulo -Brasil</div>
    </footer>
</body>

<script src="/javaScript/home.js">
</script>

</html>