<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/headerfooter.css">
    <link rel="stylesheet" href="./CSS/produtos.css">
</head>

<body>
    <header>

        <div class="content">
            <nav>
                <img class="logo" src="./images/logo.png" alt="logo">
                <p id="text1" class="brand">Wendy<strong>Taylor</strong></p>
                <ul>
                    <li><a href="#sobre">Sobre n처s</a></li>
                    <li><a href="#joias">Joias</a></li>
                    <li><a href="#bijouteria">Bijouteria</a></li>
                    <button>Login</button>
                    <button>Cadastro</button>
                </ul>
            </nav> 
    </header>

    <section class="content">
      <div class="subtitle">
        <h2> X produtos encontrados</h2>
        <p></p>
      </div>
      <div class="products">
          <article>
              <div>
                  <img class="img_cards" src="./images/joias3.png" alt="product">
              </div>
              <div class="price_cards">
                  <p>Joia X</p>
                  <p>10 x de xxx,xx</p>
              </div>
          </article>
          <article>
              <div>
                  <img class="img_cards" src="./images/joias3.png" alt="product">
              </div>
              <div class="price_cards">
                  <p>Joia X</p>
                  <p>10 x de xxx,xx</p>
              </div>
          </article>
          <article>
              <div>
                  <img class="img_cards" src="./images/joias3.png" alt="product">
              </div>
              <div class="price_cards">
                  <p>Joia X</p>
                  <p>10 x de xxx,xx</p>
              </div>
          </article>
          <article>
              <div>
                  <img class="img_cards" src="./images/joias3.png" alt="product">
              </div>
              <div class="price_cards">
                  <p>Joia X</p>
                  <p>10 x de xxx,xx</p>
              </div>
          </article>
          <article>
              <div>
                  <img class="img_cards" src="./images/joias3.png" alt="product">
              </div>
              <div class="price_cards">
                  <p>Joia X</p>
                  <p>10 x de xxx,xx</p>
              </div>
          </article>
          <article>
              <div>
                  <img class="img_cards" src="./images/joias3.png" alt="product">
              </div>
              <div class="price_cards">
                  <p>Joia X</p>
                  <p>10 x de xxx,xx</p>
              </div>
          </article>
          <article>
              <div>
                  <img class="img_cards" src="./images/joias3.png" alt="product">
              </div>
              <div class="price_cards">
                  <p>Joia X</p>
                  <p>10 x de xxx,xx</p>
              </div>
          </article>
          <article>
              <div>
                  <img class="img_cards" src="./images/joias3.png" alt="product">
              </div>
              <div class="price_cards">
                  <p>Joia X</p>
                  <p>10 x de xxx,xx</p>
              </div>
          </article>
      </div>
  </section>

    <footer>
        <div class="main">
            <div class="content footer-links">
                <div class="footer-company">
                    <h4>Sobre n처s</h4>

                </div>

                <div class="footer-social">
                    <h4>Redes sociais</h4>
                    <div class="social-icons">
                        <img src="images/instagram.png" alt="Instagram" />
                        <img src="images/facebook.png" alt="Facebook" />
                    </div>
                </div>
                <div class="footer-contact">
                    <h4>Contact </h4>
                    <h6>+55 11 988776655</h6>
                    <h6>wendytaylor.com.br</h6>
                    <h6>Nome da Rua, s찾o paulo - SP</h6>
                </div>
            </div>
        </div>
        <div class="last">wendytaylor 2022 - S찾o paulo -Brasil</div>
    </footer>

</body>

</html>