<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/headerfooter.css">
    <link rel="stylesheet" href="stylesheets/sobrenos.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <div class="bandeira">
            <div>
                <img src="./images/bandeiralogo2.jpg" alt="">
            </div>
        </div>
        <div class="objetivos">
        <div class="titulo">
            <h1>Objetivos da marca</h1>
        </div>
        <div class="joias6">
            <img src="./images/joias6.png" alt="">
        </div>
        <div class="sobre">
            <p>
                Trazer ao mercado um produto de design diferenciado e alegre,
                desenvolvido no Brasil. A marca leva o DNA da família de Wendy,
                que se inspirou principalmente no trabalho de esmaltação na
                joalheria, muito característica da joalheria inglesa.<br>
                Temos a missão de levar o “Joie de Vivre” através do nosso design
                alegre, atemporal e sem gêneros além de elevar a auto-estima
                de quem as usa e criar uma forte ponte emocional com público
                brasileiro e internacional fazendo-os sentir-se feliz e muito
                especial através do nosso design vintage afetivo.
            </p>
        </div>
        </div>
    </main>




    <%- include('./partials/footer.ejs') %>

</body>

</html>